

#adding{

    height: 5rem;
    display: flex;
  align-items: center;
  justify-content: center;
    border: 1px solid rgb(28, 19, 19);
border-style: dashed;
border-width: 2px;
border-radius: 10px;
background-image:linear-gradient(to left, rgb(195, 233, 247) , rgb(139, 205, 238));

}
#topmargin{

margin-top: 80px;

}

#dpt
{
  width:10px;
}